{% extends 'base.html' %}

{% block content %}
<section id="hero" class="hero section light-background">
    <div class="container">
        <div class="row gy-4">
            <!-- 左侧，上传文件和操作按钮 -->
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                <h1>VULNEX</h1>
                <p>通过深度学习模型分析代码中的潜在安全漏洞</p>
                <!-- 按钮 -->
                <div class="d-flex mt-3">
                    <a href="static/assets/video/introduce.mp4"
                       class="glightbox btn-watch-video d-flex align-items-center" data-glightbox="video">
                        <i class="bi bi-play-circle"></i><span>视频讲解</span>
                    </a>
                </div>

            </div>
            <!-- 右侧，示意图（可以用任何展示漏洞检测结果的图像或保留默认） -->
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img id="image-display" src="../static/assets/img/hero-img.png" class="img-fluid animated"
                     alt="示意图">
                <!-- 增强后的图像，默认隐藏，改为显示检测结果 -->
                <img id="enhanced-image-display" src="" style="margin-left: 20px;" class="img-fluid animated d-none"
                     alt="检测结果">
            </div>
        </div>
    </div>
</section>
<!-- Clients Section -->
<section id="clients" class="clients section light-background">

    <div class="container" data-aos="zoom-in">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                    "loop": true,
                    "speed": 600,
                    "autoplay": {
                        "delay": 5000
                    },
                    "slidesPerView": "auto",
                    "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                    },
                    "breakpoints": {
                        "320": {
                            "slidesPerView": 2,
                            "spaceBetween": 40
                        },
                        "480": {
                            "slidesPerView": 3,
                            "spaceBetween": 60
                        },
                        "640": {
                            "slidesPerView": 4,
                            "spaceBetween": 80
                        },
                        "992": {
                            "slidesPerView": 5,
                            "spaceBetween": 120
                        },
                        "1200": {
                            "slidesPerView": 6,
                            "spaceBetween": 120
                        }
                    }
                }
            </script>
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="../static/assets/img/clients/client-1.png" class="img-fluid"
                                               alt=""></div>
                <div class="swiper-slide"><img src="../static/assets/img/clients/client-2.png" class="img-fluid"
                                               alt=""></div>
                <div class="swiper-slide"><img src="../static/assets/img/clients/client-3.png" class="img-fluid"
                                               alt=""></div>
                <div class="swiper-slide"><img src="../static/assets/img/clients/client-4.png" class="img-fluid"
                                               alt=""></div>
                <div class="swiper-slide"><img src="../static/assets/img/clients/client-5.png" class="img-fluid"
                                               alt=""></div>
                <div class="swiper-slide"><img src="../static/assets/img/clients/client-6.png" class="img-fluid"
                                               alt=""></div>
                <div class="swiper-slide"><img src="../static/assets/img/clients/client-7.png" class="img-fluid"
                                               alt=""></div>
                <div class="swiper-slide"><img src="../static/assets/img/clients/client-8.png" class="img-fluid"
                                               alt=""></div>
            </div>
        </div>

    </div>

</section><!-- /Clients Section -->
{% endblock %}
